## These are commercial WADS
## Purchase them from GOG or Steam

# Doom
doom.wad
DOOM.WAD

# Doom II
doom2.wad
DOOM2.WAD

# Final Doom
tnt.wad
TNT.WAD
plutonia.wad
PLUTONIA.WAD

# Heretic
heretic.wad
HERETIC.WAD

# Hexen
hexen.wad
HEXEN.WAD

# Strife
strife.wad
STRIFE.WAD

